.vbox_bg_center{
    -fx-background-image:url("bgcenter2.jpg");

}
.vbox_bg_right{
    -fx-background-image:url("bgright2.jpg");
}
.cursor_hand{
    -fx-cursor:hand
}


.login_button{
    -fx-background-color:#ed6637
}
.login_button:hover{
    -fx-background-color:#d39d50
}

.selected {
    -fx-background-color: lightblue; /* Example color for selection */
    -fx-border-color: darkblue;
    -fx-border-width: 2px;
}
